<div
  class="sky-split-view"
  [attr.role]="ariaRole"
  [attr.aria-describedby]="ariaDescribedBy"
  [attr.aria-labelledby]="ariaLabelledBy"
  [@blockAnimationOnLoad]
>
  <div *ngIf="isListVisible"
    class="sky-split-view-list"
    [id]="'split-view-list-' + splitViewId"
    [style.width.px]="listWidth"
    [@listEnter]
  >
    <ng-content
      select="sky-split-view-list"
    ></ng-content>
  </div>

  <input *ngIf="isListVisible && !isMobile"
    class="sky-split-view-resize-handle"
    role="separator"
    step="10"
    type="range"
    [attr.aria-controls]="'split-view-list-' + splitViewId"
    [attr.aria-label]="'skyux_split_view_resize_handle' | skyLibResources"
    [attr.aria-valuemax]="listWidthMax"
    [attr.aria-valuemin]="listWidthMin"
    [attr.aria-valuenow]="listWidth"
    [max]="listWidthMax"
    [min]="listWidthMin"
    [style.left.px]="listWidth - 7"
    [value]="listWidth"
    (change)="onResizeHandleChange($event)"
    (mousedown)="onMouseDown($event)"
  />

  <div *ngIf="workspaceVisible"
    class="sky-split-view-workspace"
    [@workspaceEnter]
    (@workspaceEnter.done)="onWorkspaceEnterComplete($event)"
  >

    <div *ngIf="!isListVisible"
      class="sky-split-view-workspace-header"
    >
      <div
        class="sky-split-view-workspace-header-content"
      >
        <button *ngIf="!isListVisible"
          class="sky-btn sky-btn-link"
          (click)="onShowListButtonClick()"
        >
          <sky-icon
            icon="chevron-left"
          ></sky-icon>
          {{ 'skyux_split_view_back_to_list' | skyLibResources }}
        </button>
      </div>
      <sky-split-view-iterator
        [nextButtonDisabled]="nextButtonDisabled"
        [previousButtonDisabled]="previousButtonDisabled"
        (nextButtonClick)="onIteratorNextButtonClick()"
        (previousButtonClick)="onIteratorPreviousButtonClick()"
      ></sky-split-view-iterator>
    </div>

    <div
      class="sky-split-view-workspace-content"
    >
      <ng-content
        select="sky-split-view-workspace"
      ></ng-content>
    </div>
  </div>
</div>
