@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";

.sky-split-view {
  position: relative;
  display: flex;
  border: 1px solid $sky-border-color-neutral-medium;
  background:#fff;

  .sky-split-view-list {
    position: relative;
    border-right: 1px solid $sky-border-color-neutral-medium;
    overflow: auto;
    width: 100%;
  }

  .sky-split-view-workspace {
    flex-grow: 1;
    flex-shrink: 99;
    overflow: auto;

    .sky-split-view-workspace-header {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      border-bottom: 1px solid $sky-border-color-neutral-medium;
      padding: $sky-padding-half 0;

      .sky-split-view-workspace-header-content {
        flex-grow: 1;
      }

      ::ng-deep .sky-split-view-iterators {
        margin: 0 $sky-padding-half;
      }
    }
  }

  .sky-split-view-resize-handle {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 100%;
    width: 14px;
    position: absolute;
    cursor: ew-resize;
    padding: 0;
    border: 0;
    background: transparent;
    display: block;
    top: 0;
    bottom: 0;

    &::-moz-range-thumb, &::-moz-range-track{
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 0;
      height: 0;
      border-radius: 0px;
      border: 0 none;
      background: none;
      display: none;
    }

    &::-ms-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 0;
      height: 0;
      border-radius: 0px;
      border: 0 none;
      background: none;
      display: none;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 0;
      height: 0;
      border-radius: 0px;
      border: 0 none;
      background: none;
      display: none;
    }
  }

}


