<div
  class="sky-split-view"
  [@blockAnimationOnLoad]
>
  <div *ngIf="isListVisible"
    class="sky-split-view-list"
    role="region"
    [attr.aria-label]="listComponent?.ariaLabel"
    [id]="'split-view-list-' + splitViewId"
    [style.width.px]="listWidth"
    [@listEnter]
  >
    <ng-content
      select="sky-split-view-list"
    ></ng-content>
  </div>

  <input *ngIf="isListVisible && !isMobile"
    class="sky-split-view-resize-handle"
    role="separator"
    step="10"
    type="range"
    [attr.aria-controls]="'split-view-list-' + splitViewId"
    [attr.aria-label]="'skyux_split_view_resize_handle' | skyLibResources"
    [attr.aria-valuemax]="listWidthMax"
    [attr.aria-valuemin]="listWidthMin"
    [attr.aria-valuenow]="listWidth"
    [max]="listWidthMax"
    [min]="listWidthMin"
    [style.left.px]="listWidth - 7"
    [value]="listWidth"
    (change)="onResizeHandleChange($event)"
    (mousedown)="onMouseDown($event)"
  />

  <div *ngIf="workspaceVisible"
    class="sky-split-view-workspace"
    role="region"
    [attr.aria-label]="workspaceComponent?.ariaLabel"
    [@workspaceEnter]
    (@workspaceEnter.done)="onWorkspaceEnterComplete($event)"
  >

    <div *ngIf="!isListVisible"
      class="sky-split-view-workspace-header"
    >
      <div
        class="sky-split-view-workspace-header-content"
      >
        <button *ngIf="!isListVisible"
          class="sky-btn sky-btn-link"
          (click)="onShowListButtonClick()"
        >
          <sky-icon
            icon="chevron-left"
          ></sky-icon>
          {{ backLabel ? backLabel : ('skyux_split_view_back_to_list' | skyLibResources) }}
        </button>
      </div>
    </div>

    <div
      class="sky-padding-even-large"
    >
      <ng-content
        select="sky-split-view-workspace"
      ></ng-content>
    </div>
  </div>
</div>
